<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/project.css"/>
    <title>Title</title>
</head>
<body>

{{include '../element/main-menu' main_menu}}
<div class="content">
    <h1>{{detail.name}}</h1>
    {{include './element/project-menu' project_menu}}
    <p>Project ID: {{detail._id}}</p>
    <p>Bundle ID: {{detail.bundle_id}}</p>
    <p>{{detail.introduction}}</p>
    <h2>Patch list</h2>
    <table border="1">
        <tr>
            <th>App Version</th>
            <th>Patch Version</th>
            <th>Patch Hash</th>
            <th>Patch File URL</th>
        </tr>
        {{each patches}}
        <tr>
            <td>{{$value.project_version}}</td>
            <td>{{$value.patch_version}}</td>
            <td>{{$value.hash}}</td>
            <td><a href={{$value.patch_url}} target="_blank">{{$value.patch_url}}</a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
</body>
</html>