
div.project-menu {
  width: 100%;
}

a.project-menu {
  padding-left: 20px;
  padding-right: 20px;
}

.project-set-menu {
  display: inline-block;
  width: 100px;
}

.project-set-content {
  display: inline-block;
  width: auto;
}

.project-introduction {
  height: 100px;
  width: auto;
}

li.project-list {
  padding-top: 10px;
  padding-bottom: 10px;
}