<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Modify password</title>
</head>
<body>

{{include '../element/main-menu' main_menu}}

<div class="content">
    {{include './element/admin-menu' admin_menu}}
    <div class="admin-content">
        <h1>Modify password</h1>
        {{if error}}
        <p class="error-message">{{error}}</p>
        {{/if}}
        <form action="/admin/users/{{user._id}}/modify-password" method="post">
            <p>
                <label for="email">Email</label>
                <input id="email" type="text" readonly name="email" value={{user.email}}>
            </p>
            <p>
                <label for="password">Password</label>
                <input id="password" type="text" autofocus name="password" value={{password}}>
            </p>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
    </div>
</div>
</body>
</html>