<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Login</title>
</head>
<body>
<div class="content">
    <h1>Login</h1>

    {{if error}}
    <p class="error-message">{{error}}</p>
    {{/if}}

    <form action="/login" method="post">
        <p>
            <label for="email">Email</label>
            <input id="email" autocapitalize="off" autocorrect="off" {{email_autofocus}} name="email" tabindex="1" type="email" value="{{email}}">
            {{if email_error}}
            <p class="error-message">{{email_error}}</p>
            {{/if}}
        </p>
        <p>
            <label for="password">Password</label>
            <input id="password" {{password_autofocus}} name="password" tabindex="2" type="password" value="{{password}}">
            {{if password_error}}
            <p class="error-message">{{password_error}}</p>
            {{/if}}
        </p>
        <p>
            <input tabindex="3" value="Sign in" type="submit">
        </p>
    </form>
    <p>
        <a href="/register">Create an account</a>.
    </p>
</div>
<script src = "/js/user.js"></script>
</body>
</html>